scripts/fixtures/specifications/schema-graph-main.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns="urn:folio:test:main"
  xmlns:s="urn:folio:test:shared"
  targetNamespace="urn:folio:test:main"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">
  <xsd:import namespace="urn:folio:test:shared" schemaLocation="schema-graph-shared.xsd"/>

  <xsd:simpleType name="State">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="on"/>
      <xsd:enumeration value="off"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="Base">
    <xsd:sequence>
      <xsd:element name="baseText" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Derived">
    <xsd:complexContent>
      <xsd:extension base="Base">
        <xsd:sequence>
          <xsd:element name="slot" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:choice>
                <xsd:element name="label" type="xsd:string"/>
                <xsd:element ref="s:SharedElement"/>
              </xsd:choice>
              <xsd:attribute name="mode" type="State" use="required"/>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:ID" use="required"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="root" type="Derived"/>
</xsd:schema>
